h1{
	color:red;
}
body {
	background-image: url("https://cdn.pixabay.com/photo/2016/10/20/18/35/sunrise-1756274_960_720.jpg")
}
P {
	color: white;
	font-size: 30px;
}
div {
	width: 500px;
	min-height: 500px;
	border: 10px solid black;
	float: left;
	padding: 4%;
	margin: 1%;
}
.d1 {
	background-color: teal;

}
.d2 {
	background-color: red;
}

.d3 {
	background-color: blue;
}
